<!DOCTYPE html>
<html>
<head>
    <title>Game Time</title>
    <link rel="stylesheet" href="../static/madlibs.css">
</head>
<body>
    <h1 class="standardFont">Let's Play a Game!</h1>
    <form action="/madlib">
        <label class="standardFont">Pick proper noun:<input type="text" name="person"></label>
        <br>
        <label class="standardFont">Pick a noun:<input type="text" name="noun"></label>
        <br>
        <label class="standardFont">Pick an adjective:<input type="text" name="adjective"></label>
        <br>
        <label class="standardFont">Pick a verb:<input type="text" name="verb"></label>
        <p class="standardFont"> Pick a color: <select name="color">
            <label><option value="green"> Green </option></label>
            <label><option value="purple"> Purple </option></label>
            <lavel><option value="yellow"> Yellow </option></label>
        </select></p>
        <input type="submit">
</body>
</html>
