<!DOCTYPE html>
<html>
<head>
    <title>Game Time</title>
</head>
<body>
    <h1>Let's Play a Game!</h1>
    <form action="/madlib">
        <label>Pick proper noun:<input type="text" name="person"></label>
        <br>
        Pick a color: <select name="color">
            <label><option value="green"> Green </option></label>
            <label><option value="purple"> Purple </option></label>
            <lavel><option value="yellow"> Yellow </option></label>
        </select>
        <br>
        <label>Pick a noun:<input type="text" name="noun"></label>
        <br>
        <label>Pick an adjective:<input type="text" name="adjective"></label>
        <br>
        <input type="submit">
</body>
</html>
